body{
    font-family: 'Open Sans';
  }
  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @media only screen and (min-device-width: 760px){
    .btn-wfp-main{
      background-color: #007DBC;
      color:#FFFFFF;
      width: 200px;
      border-radius: 15px;
        &:hover{
          background-color: #F47847;
      }
    }
  
    .btn-wfp-main-press{
      background-color: #36B5C5;
      color:#FFFFFF;
      width: 200px;
      border-radius: 15px;
    }

    .fund-start{
      background: url("./../assets/fondo_banano.png") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      position: fixed; 
      top: 0; 
      left: 0; 
      min-width: 100%;
      min-height: 100%;
      
    }

    .fund-main{
      background: url("./../assets/fond1.png") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      position: fixed; 
      top: 0; 
      left: 0; 
      min-width: 100%;
      min-height: 100%;
      
    }
    .fund-main-enter{
        background: url("./../assets/fond3bl.png") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      position: fixed; 
      left: 0; 
      min-width: 100%;
      min-height: 100%;
    }
    .fund-main-unit{
      background: url("./../assets/fond5.png") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      position: fixed; 
      left: 0; 
      min-width: 100%;
      min-height: 100%;
      
    }
    .text-main{
      color: #FFFFFF;
      text-align: center;
      margin-top: 5%;
    }
  
    .img-head{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 30%;
      margin-top: 1%;
      border-radius: 50px;
      object-fit: cover;
      box-shadow: 15px 15px rgba(94, 92, 92, 0.5);
    }
  
    .text-login-main{
      color: #FFFFFF;
      text-align: center;
      margin-top: 3%;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
  
    .txt-input{
      border-radius: 15px;
    }
  
    .text-reg-main{
      color: #FFFFFF;
      text-align: center;
      margin-top: 1%;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
    .invalid-tooltip-active{
      display: block !important;
      height: 20px;
      margin-bottom: 10px;
    }
    .text-title{
        color: #007DBC;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-weight: bold;
        height: 45px;
    }
    .img-course{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      border-radius: 140px;
      object-fit: cover;
      box-shadow: 15px 15px rgba(94, 92, 92, 0.5);
      margin-top: 20px;
      margin-bottom: 20px;
      height: auto;
      max-height: 320px;
    }
    .content-courses{
      margin-top: 50px;
      overflow-y: auto;
      height: 600px;
    }
    .fund-main-course{
      background: url("./../assets/fond4.png") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      position: fixed; 
      left: 0; 
      min-width: 100%;
      min-height: 100%;
    }
    .course-description{
      padding: 15px;
      border-radius: 25px;
      background-color: white;
      margin: 10px;
      color: #007DBC;
      opacity: 0.95;
      text-align: justify;
    }

    .course-enter{
      margin: auto;
      width: 15%;
      padding: 10px;
    }

    .content-course{
      margin-top: 40px;
      overflow-y: auto;
      height: 550px;
    }
  }
  /* mobile styles */
  @media only screen and (max-device-width: 760px) {
    .btn-wfp-main{
      background-color: #007DBC;
      color:#FFFFFF;
      width: 150px;
      border-radius: 15px;
      &:hover{
        background-color: #F47847;
      }
    }
  
    .btn-wfp-main-press{
      background-color: #36B5C5;
      color:#FFFFFF;
      width: 150px;
      border-radius: 15px;
    }
    .fund-start{
      background: url("./../assets/fondo_banano.png") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      position: fixed; 
      top: 0; 
      left: 0; 
      min-width: 100%;
      min-height: 100%;
      
    }
  
    .fund-main{
      background: url("./../assets/fond1.png") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      position: fixed; 
      top: 0; 
      left: 0; 
      min-width: 100%;
      min-height: 100%;
      
    }
    .fund-main-enter{
        background: url("./../assets/fond3bl.png") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      position: fixed; 
      left: 0; 
      min-width: 100%;
      min-height: 100%;
    }
    .fund-main-unit{
      background: url("./../assets/fond5.png") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      position: fixed; 
      left: 0; 
      min-width: 100%;
      min-height: 100%;
    }
    .fund-main-lesson{
      background: url("./../assets/fonUN1.png") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      position: fixed; 
      left: 0; 
      min-width: 100%;
      min-height: 100%;
    }
    .text-main{
      color: #FFFFFF;
      text-align: center;
      margin-top: 30%
    }
  
    .img-head{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      margin-top: 5%;
      border-radius: 27px;
      object-fit: cover;
      box-shadow: 15px 15px rgba(94, 92, 92, 0.5);
    }
  
    .text-login-main{
      color: #FFFFFF;
      text-align: center;
      margin-top: 5%;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  
    .txt-input{
      border-radius: 15px;
    }
  
    .text-reg-main{
      color: #FFFFFF;
      text-align: center;
      margin-top: 5%;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    .invalid-tooltip-active{
      display: block !important;
      height: 20px;
      margin-bottom: 10px;
    }
    .text-title{
        color: #007DBC;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-weight: bold;
        height: 35px;
    }
    .img-course{
      display: block;
      margin-right: auto;
      width: 99%;
      border-radius: 80px;
      object-fit: cover;
      box-shadow: 5px 10px rgba(94, 92, 92, 0.5);
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 0px;
      height: auto;
      max-height: 190px;
    }
    .content-courses{
      margin-top: 40px;
      overflow-y: auto;
      height: 570px;
    }

    .fund-main-course{
      background: url("./../assets/fond4.png") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      position: fixed; 
      left: 0; 
      min-width: 100%;
      min-height: 100%;
    }

    .fund-main-lesson{
      background: url("./../assets/fonUN1.png") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      position: fixed; 
      left: 0; 
      min-width: 100%;
      min-height: 100%;
    }

    .course-description{
      padding: 15px;
      border-radius: 25px;
      background-color: white;
      margin: 10px;
      color: #007DBC;
      opacity: 0.95;
      text-align: justify;
    }

    .course-enter{
      margin: auto;
      width: 50%;
      padding: 10px;
      opacity: 1;
    }

    .content-course{
      margin-top: 40px;
      overflow-y: auto;
      height: 570px;
    }
  }