
  @media only screen and (min-device-width: 760px){
    
    .menu-img{
      width: 5%;
      height: auto;
      float: left;
      position: fixed;
      top: 0px;
      left: 0px;
    }
    .menu-title{
      position: fixed;
      margin-top: 20px;
      margin-left: 10%;
      margin-right: auto;
      width: 100%;
      display: none;
    }
  }
  /* mobile styles */
  @media only screen and (max-device-width: 760px) {
    
    .menu-img{
      width: 20%;
      height: auto;
      float: left;
      margin-top: 15%;
      margin-left: -5%;
    }
    .menu-title{
      position: fixed;
      margin-left: 25%;
      margin-right: auto;
      margin-top: 15%;
    }
  }